.nav-text-logo {
  color: #fff;
  text-decoration: none;
}

.nav-text-logo:hover {
  color: #fff;
}

.main-menu {
  width: 378px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.main-menu a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.main-menu a.current {
  color: #fff;
  font-weight: 600;
}

.main-menu a:hover {
  color: #fff;
}

.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.nav-login-logout {
  display: none;
}

.nav-logged-username {
  display: none;
}

@media (min-width: 768px) {
  .nav-login-logout {
    display: unset;
    color: #ffffffff;
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  .nav-login-logout {
    margin-right: 40px;
  }
  .nav-logged-username {
    display: unset;
    margin-right: 20px;
  }
}
