.product-crud-card {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.product-crud-card-image-container {
  padding: 16px 0px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1e1;
}

.product-crud-card-image-container img {
  height: 158px;
  width: 158px;
}

.product-crud-card-content-container {
  padding: 15px 20px 30px 20px;
}

.product-crud-card-content-container h6 {
  font-size: 18px;
  color: #263238;
}
.product-crud-categories-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.product-crud-card-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.product-crud-card-button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.015em;
  height: 40px;
  width: 110px;
  border-radius: 10px;
}
.product-crud-card-button-first {
  margin-right: 10px;
}
