.product-crud-card {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.product-crud-card-image-container {
  padding: 16px 0px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1e1;
}

.product-crud-card-image-container img {
  height: 158px;
  width: 158px;
}

.product-crud-card-content-container {
  padding: 15px 20px 30px 20px;
}

.product-crud-card-content-container h6 {
  font-size: 18px;
  color: #263238;
}
.product-crud-categories-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.product-crud-card-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.product-crud-card-button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.015em;
  height: 40px;
  width: 110px;
  border-radius: 10px;
}
.product-crud-card-button-first {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .product-crud-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
  }

  .product-crud-card-image-container {
    border-bottom: 1px solid #e1e1e1e1;
    border-bottom: 0;
    width: 200px;
  }

  .product-crud-card-buttons-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .product-crud-card-button-first {
    margin-top: 22px;
    margin-right: 0px;
  }
  .product-crud-card-button {
    width: 140px;
  }
  .product-crud-card-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

@media (min-width: 992px) {
  .product-crud-card-button {
    width: 220px;
  }
}
