.product-crud-card {
  margin-bottom: 30px;
}

.product-crud-card-image-container {
  padding: 16px 0px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1e1;
}

.product-crud-card-image-container img {
  height: 158px;
  width: 158px;
}

.product-crud-card-content-container {
  padding: 15px 20px 30px 20px;
}

.product-crud-card-content-container h6 {
  color: #263238;
  font-size: 18px;
}
