@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: 0;
}

a,a:hover {
  color: unset;
  text-decoration: none;
}
